@import url('https://fonts.googleapis.com/css?family=Orbitron:900');
.navbar-brand {
	font-family: "Orbitron", sans-serif;font-weight:900;
	color:#777777
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Orbitron", sans-serif;font-weight:900;
}